/* default color: #439088 */
/*Background*/
mark,
.item-promotion-h5,
.latest-blog-post-date,
.owl-item.synced .process-item,
.process-2-container .process-item span.order,
.section-dark-ourStatistics .ourStatis-item-2 .circle-statis,
.nav-tabs-arc-product > li.active > a,
.nav-tabs-arc-product > li.active > a:hover,
.nav-tabs-arc-product > li.active > a:focus,
.arc-tabs-style-2 .nav-tabs > li.active > a,
.arc-tabs-style-2 .nav-tabs > li.active > a:hover,
.arc-tabs-style-3 .nav-tabs > li.active > a:focus,
.arc-tabs-style-3 .nav-tabs > li.active > a,
.arc-tabs-style-3 .nav-tabs > li.active > a:hover,
.arc-tabs-style-3 .nav-tabs > li.active > a:focus,
.arc-tabs-style-4 .nav-tabs > li.active:before,
.accordion-process .panel-default > .panel-heading .panel-title > a,
.accordion-process .panel-default > .panel-heading .panel-title > a.collapsed:hover,
.accordion-style-light .panel-default > .panel-heading .panel-title > a,
.process-2-container .process-2-item span.order,
.mobile-menu .open + a,
.process-item:hover,
.arc-sorting div.fancy-select ul.options li.selected,
.arc-sorting div.fancy-select ul.options li:hover,
ul.social-dark li a:hover,
.accordion-style-light .panel-default > .panel-heading .panel-title > a.collapsed:hover,
.footer-mobile-menu ul.social li a:hover,
.mobile-menu > li:hover > a,
.mobile-menu li li:hover a,
ul.list-link-footer li:hover:before,
ul.social li a:hover,
ul.social li.active a,
#to-the-top:hover,
.btn-border-ghost:hover,
.btn-main-color,
.language div.fancy-select ul.options li.selected,
.language div.fancy-select ul.options li:hover,
.navi-level-1 > li .navi-level-2,
span.mini-cart-counter,
.navi-level-1.hover-style-2 li a span:before,
.navi-level-1.hover-style-3 li a span:before,
.navi-level-1.hover-style-5 li a span:before,
.main-sidebar .tagcloud a:hover {
  background-color: #439088;
}
/*Fade background 95%*/
.project-terms a h4:before,
.project-terms a.current h4:before,
.project-terms-2 a h4:before,
.layer-1,
.blog-terms a h4:before,
.blog-terms a:hover h4:before,
.blog-terms a.current h4:before,
.main-sidebar .promotion .promotionText,
.element-item:hover .project-info,
.project-terms a:hover h4:before,
.project-terms-2 a.current h4:before,
.project-terms-2 a:hover h4:before,
.projectContainer .element-item:hover .project-info,
.ourteamGrid-warp .team-grid-item:hover .grid-team-overlay,
ul.social-dark li a:hover,
#overlay,
.modal-search {
  background-color: rgba(67, 144, 136, 0.95);
}
/*Color*/
.icon-promotion,
.owl-partner-warp .prev-partners,
.owl-partner-warp .next-partners,
.owl-partner-warp .next-partners2,
.owl-partner-warp .prev-partners2,
.prev-team,
.next-team,
.sub-header a,
.process-item,
.slide-services .prev-detail-services,
.slide-services .next-detail-services,
ul.countdown li span,
.header-mobile-menu .mm-toggle,
.copyright a,
.navi-level-1.dot-seperator > li > a:after,
.navi-level-1.line-separator > li > a:after,
.navi-level-1.circle-separator > li > a:after,
.navi-level-1.square-separator > li > a:after,
.navi-level-1.plus-separator > li > a:after,
.navi-level-1.strip-separator > li > a:after,
.navi-level-1.hover-style-4 li a:hover,
.header-v6 .right-header a:hover,
.sub-header .sub-header-content .breadcrumb-arc a,
.navi-level-1 > li .navi-level-2 li a:hover,
.btn-dark-color:hover,
.btn-dark-color:focus,
.cart_list.product_list_widget .product-detail a:hover {
  color: #439088;
}
/*Color On Hover*/
.chooseus-item:hover h4,
.portfolio-grid-1-warp .portfolio-grid-1-container .element-item .project-info h4:hover,
.portfolio-grid-1-warp .portfolio-grid-1-container .element-item .project-info a.cateProject:hover,
.portfolio-grid-2-warp .portfolio-grid-2-container .element-item .project-info h4:hover,
.portfolio-grid-2-warp .portfolio-grid-2-container .element-item .project-info a.cateProject:hover,
.portfolio-grid-3-warp .portfolio-grid-3-container .element-item .project-info h4:hover,
.portfolio-grid-3-warp .portfolio-grid-3-container .element-item .project-info a.cateProject:hover,
.arr-pj-container a:hover,
.latest-blog-post-description h3:hover,
.latest-blog-post-data a:hover,
.blog-inline .latest-blog-post-description h3:hover,
ul.style-list-circle li a:hover,
.footer-data .tags p a:hover,
.footer-data .share p a:hover,
.comment-respond .logged-in-as a:hover,
.comment-respond .btn-submit:hover,
.comments-area li.comment .comment-content .reply a:hover,
.comments-area li.comment .comment-content cite a:hover,
.comments-area li.comment .comment-content span a:hover,
.widget .search-form .search-submit:hover,
.main-sidebar li:hover::before,
.main-sidebar li:hover a,
.owl-partner-warp .prev-partners:hover,
.owl-partner-warp .next-partners:hover,
.owl-partner-warp .next-partners2:hover,
.owl-partner-warp .prev-partners2:hover,
.item-team .social-member a:hover,
.prev-team:hover,
.next-team:hover,
.view-more:hover,
.sidebar-left ul.sidebar-style-2 li:hover a,
.sidebar-right ul.sidebar-style-2 li:hover a,
.sidebar-right ul.sidebar-style-2 li.active a,
.form-search-home-6 .btn-search-home-6:hover,
.product-info h3:hover,
.sub-header a:hover,
table.shop_table .product-name a:hover,
.item-team .member-info .social-member a:hover {
  color: #336d67;
}
/*Stroke*/
.svg-triangle-icon,
.hexagon {
  stroke: #439088;
}
/*Border*/
.avatar-testimonials img,
.avatar-testimonials-1-columns-v2 img,
.large-avatar img,
.blog-1-column-warp .customNavigation .btn:hover,
.form-subcribe input.form-control:focus,
.owl-item.synced .process-item,
.form-subcribe textarea.form-control:focus,
.owl-item.synced .process-item,
.accordion-style-light .panel-default > .panel-heading .panel-title > a,
.item-team .member-info,
.form-subcribe form input:focus,
.tagcloud a:hover,
.testimonial-1-column-v2-warp .customNavigation .btn:hover,
.process-item:hover,
.form-contact input.form-control:focus,
.sidebar-left ul.sidebar-style-2 li:hover,
.sidebar-right ul.sidebar-style-2 li:hover,
.sidebar-left ul.sidebar-style-2 li.active,
.sidebar-right ul.sidebar-style-2 li.active,
.btn-coupon:hover,
.form-contact-arc input.form-control:focus,
.form-contact-arc textarea.form-control:focus,
.newsletter-comingsoon .newsletter-email:focus,
ul.countdown li,
.arc-tabs-style-2 .nav-tabs,
.arc-tabs-style-2 .nav-tabs > li.active > a,
.arc-tabs-style-2 .nav-tabs > li.active > a:hover,
.arc-tabs-style-2 .nav-tabs > li.active > a:focus,
.form-subcrible-footer .btn-subcrible-footer:hover,
ul.list-link-footer li:hover a,
.form-subcrible-footer input.form-control:focus,
.form-subcrible-footer input.form-control:hover,
.top_cart_list_product .buttons .btn-border-white:hover {
  border-color: #439088;
}
.tab-arc .nav-tabs > li.active > a:hover,
.tab-arc .nav-tabs > li.active > a:focus,
.tab-arc .nav-tabs > li.active > a {
  border-top-color: #439088;
}
.copyright a:hover {
  color: #336d67;
}
.btn-border:hover,
.btn-border:focus {
  border-color: #439088;
  color: #439088;
}
/*update*/
.portfolio-grid-1-warp .portfolio-grid-1-container .element-item .project-info h4,
.portfolio-grid-2-warp .portfolio-grid-2-container .element-item .project-info h4,
.portfolio-grid-2-warp .portfolio-grid-2-container .element-item .project-info h4 {
  color: #333;
}
ul.social li.active a,
.sidebar-left ul.sidebar-style-2 li.active a,
.sidebar-left ul.sidebar-style-2 li.active a,
.sidebar-left ul.sidebar-style-2 li:hover a,
ul.social li a:hover,
.navi-level-1 > li .navi-level-2 li a,
.projectContainer .element-item .project-info h4,
.projectContainer .element-item .project-info a.cateProject:hover,
.box-content-overlay-3 h2,
.item-promotion-h5 .promotion-h5-text-box h3,
.item-promotion-h5 a,
.owl-item.synced .process-item,
.ourteamGrid-warp .team-grid-item:hover .grid-team-overlay h5,
.ourteamGrid-warp .team-grid-item:hover .grid-team-overlay p,
.ourteamGrid-warp .team-grid-item:hover .grid-team-overlay p.description-member,
.ourteamGrid-warp .team-grid-item .social-member a,
.ourteamGrid-warp .team-grid-item:hover .grid-team-overlay p.member-job,
.main-sidebar .promotion .promotionText,
.main-sidebar .tagcloud a:hover,
.section-dark-ourStatistics .ourStatis-item-2 .circle-statis,
.section-dark-ourStatistics .ourStatis-item-2 .circle-statis h6,
.projectContainer .element-item .project-info h4,
.projectContainer .element-item .project-info a.cateProject,
.process-2-container .process-2-item span.order,
.navi-level-1.sub-navi > li a:hover,
.main-sidebar ul li:hover a,
.btn-main-color,
.latest-blog-post-date,
.latest-blog-post-date span.month,
span.mini-cart-counter,
mark,
.box-content-overlay-3 .btn-dark-color,
.project-terms a.current h4,
.project-terms a:hover h4,
.navi-level-1 > li .navi-level-2 li a:hover,
.nav-tabs-arc-product > li.active > a,
.nav-tabs-arc-product > li.active > a:focus,
.nav-tabs-arc-product > li.active > a:hover,
.btn-main-color,
.navi-level-1 > li .navi-level-2 li a,
.navi-level-1 > li .navi-level-2 li a:hover,
.projectContainer .element-item .project-info h4,
.projectContainer .element-item .project-info a.cateProject,
.project-terms a h4:hover,
.language div.fancy-select ul.options li.selected,
.language div.fancy-select ul.options li:hover,
span.mini-cart-counter,
.btn-main-color:hover,
.panel-heading .panel-title > a,
.accordion-style-light.no-round .panel-default > .panel-heading .panel-title > a,
.arc-sorting div.fancy-select ul.options li.selected,
.arc-sorting div.fancy-select ul.options li:hover,
.top_cart_list_product .buttons .ot-btn,
.top_cart_list_product .buttons .btn-border-white:hover {
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .projectContainer .element-item:nth-child(even) .project-info {
    background-color: #439088 !important;
  }
}
.accordion-style-light .panel-default > .panel-heading .panel-title > a.collapsed {
  background-color: #000;
}
